<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-btn active" href="./home.html" aria-label="Home">
          <svg class="header-start-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-home"></use>
          </svg>
          Home
        </a>
      </li>
      <li class="footer-item">
        <a class="footer-btn" href="./market.html" aria-label="Market"
          ><svg class="header-start-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-market"></use></svg
          >Market</a
        >
      </li>
      <li class="footer-item">
        <a class="footer-btn" href="./message.html" aria-label="Message"
          ><svg class="header-start-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-message"></use></svg
          >Message</a
        >
      </li>
      <li class="footer-item">
        <a class="footer-btn" href="./saved.html" aria-label="Saved"
          ><svg class="header-start-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-saved"></use></svg
          >Saved</a
        >
      </li>
      <li class="footer-item">
        <a class="footer-btn" href="./profile-post.html" aria-label="Profile">
          <svg class="header-start-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-profile"></use></svg
          >Profile</a
        >
      </li>
    </ul>
  </div>
</footer>
