.time-start{
    color: #fff;
}
.header-start-icon {
    fill: #FFFFFF;
}
.start-section {
  padding-top: 213px;
  padding-bottom: 32px;
}
.starlogo-img {
  margin: 0 auto;
  margin-bottom: 18px;
}

.start-section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-bottom: 318px;
}
.start-version {
  line-height: 1.55;
  color: #dfe1e7;
  text-align: center;
}
